In [97]:
import pandas as pd
import json
from pprint import pprint

In [133]:
ms = pd.read_csv('datasets/MassShootingsComplete-counties.csv')
pop = pd.read_csv('datasets/CountyPopulationAllYears.csv')

In [ ]:
def transforms(name: str) -> str:
    if 'Clarke' in name: return 'Clarke County'
    if 'Washington' in name: return 'District of Columbia'
    name = name.replace('Saint', 'St.').replace('Nashville-', '').replace('Vista', 'Buena Vista').replace('Compton', 'Los Angeles County')
    name = name.replace('Monterey Park', 'Monterey County')
    return name.strip()


def try_find(name, state) -> str | None:

    if name in pop[pop['STNAME']==state]['CTYNAME'].values: return name

    if transforms(name) in pop[pop['STNAME']==state]['CTYNAME'].values: return transforms(name)

    #try county
    n = transforms(name)
    if 'County' not in n: n += ' County'
    if n in pop[pop['STNAME']==state]['CTYNAME'].values: return n

    #try parish
    n = transforms(name)
    if 'Parish' not in n: n += ' Parish'
    if n in pop[pop['STNAME']==state]['CTYNAME'].values: return n

    #try city
    n = transforms(name)
    if 'city' not in n: n += ' city'
    if n in pop[pop['STNAME']==state]['CTYNAME'].values: return n

    #try Municipality
    n = transforms(name)
    if 'city' not in n: n += ' Municipality'
    if n in pop[pop['STNAME']==state]['CTYNAME'].values: return n
    
    else: return None


def extract_county(row) -> str:
    '''try:'''
    json_data = row['json']
    state = row['State'].strip()

    places = json.loads(json_data)
    if places:
        names = places[0].get("display_name", "")
        # Cerca "County", "Parish", o altres entitats equivalents en display_name
        
        delims = [",", ")", "("]

        for delim in delims:
            names = "_".join(names.split(delim))
        names = names.split("_")
        names = [n.strip() for n in names if n != '']

        for n in names:
            cname = try_find(n, state)
            if cname: return cname
            else: continue
    
        return None
    '''except (json.JSONDecodeError, IndexError, KeyError):
        return None'''

In [ ]:
count = 0

for i in range(len(ms)):
    row = ms.loc[i]
    js = row['json']
    state = row['State']
    if js == '[]': count += 1
    elif not extract_county(row):
        names = json.loads(js)[0].get("display_name", "")
        count += 1

print(count)

35

In [144]:
ms['county'] = ms.apply(extract_county, axis=1)
ms[ms['county'].isnull()]     # només els que tenen json Null !!!! big success!

,Incident ID,Incident Date,State,City Or County,json,county,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested
64,2988723,2024-08-06T00:00:00Z,West Virginia,Hedgesville (Cherry Run),[],None,Householder Rd,0,4,0,0,1
192,2934048,2024-06-07T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,2600 block of Shannon Ave,1,4,0,0,0
464,2747153,2023-11-04T00:00:00Z,Ohio,Cleveland (Richmond Heights),[],None,500 block of Towne Ln,1,3,0,0,1
566,2701233,2023-09-06T00:00:00Z,Texas,El Paso (Socorro),[],None,253 Flor Margarita Blvd,0,4,0,0,3
853,2592771,2023-05-06T00:00:00Z,Mississippi,Robinsonville (Tunica Resorts),[],None,2669 Kirby Rd,0,4,0,0,0
1019,2508683,2023-01-22T00:00:00Z,Mississippi,Robinsonville (Tunica Resorts),[],None,1010 Casino Center Dr,0,4,0,0,1
1030,2502550,2023-01-14T00:00:00Z,Missouri,Saint Louis (Moline Acres),[],None,Berwyn Dr and Lanier Dr,0,4,0,0,0
1252,2400998,2022-08-29T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,8800 block of Cozens Ave,0,4,0,0,0
1456,2320673,2022-06-04T00:00:00Z,Texas,El Paso (Socorro),[],None,10851 Thunder Rd,0,5,0,0,0
1772,2163772,2021-11-09T00:00:00Z,Louisiana,Hahnville (Killona),[],None,160 Killona Dr,1,4,0,0,1
1787,2155517,2021-10-31T00:00:00Z,Colorado,Littleton (Lakewood),[],None,6200 block of Alameda Ave,2,2,0,0,0
1831,2137321,2021-10-10T00:00:00Z,South Carolina,Mc Coll (Mccoll),[],None,4181 Hwy 15-401,2,3,0,0,5
2578,289146,2015-02-05T00:00:00Z,Ohio,Beachwood (Warrensville Heights),[],None,20009 Harvard Ave,3,3,0,0,1
2603,740447,2016-12-31T00:00:00Z,Georgia,Lenox (El Dorado),[],None,27 Briarwood Ct,2,2,0,0,0
2741,634238,2016-08-20T00:00:00Z,Connecticut,Hamden,"[{""place_id"":11875514,""licence"":""Data © OpenSt...",None,903 Dixwell Ave,0,4,0,0,1
2763,623195,2016-08-06T00:00:00Z,Pennsylvania,Reading (Sinking Spring),[],None,51 Winding Brook Drive,4,0,1,0,0
2897,548333,2016-04-26T00:00:00Z,Maryland,District Heights (Forestville),[],None,6500 block of Hil-Mar Drive,1,4,0,0,0
2986,1017372,2017-12-31T00:00:00Z,Colorado,Littleton (Highlands Ranch),[],None,3404 E County Line Rd,1,6,1,0,0
2997,1009629,2017-12-16T00:00:00Z,Mississippi,Mc Cool (Mccool),[],None,Ferguson Rd,0,4,0,0,1
3148,882665,2017-07-04T00:00:00Z,Florida,Orlando (Pine Castle),[],None,501 W Lancaster Rd,0,4,0,0,0
3303,764020,2017-01-30T00:00:00Z,Minnesota,Minneapolis (Crystal),[],None,5410 Lakeland Ave N,0,4,0,0,3
3365,1247019,2018-11-02T00:00:00Z,California,Long Beach (North Long Beach),[],None,5800 block of Brayton Ave,0,4,0,0,0
3394,1226179,2018-10-04T00:00:00Z,New Mexico,Espanola (Espa��ola),[],None,1813 N Riverside Dr,1,3,0,0,3
3486,1165214,2018-07-16T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,2100 block of W 28th St,2,4,0,0,0
3522,1149173,2018-06-24T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,1200 block of W 35th St,1,3,0,0,0
3634,1056240,2018-02-23T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,W 23rd St,1,3,0,0,0
3682,1577688,2019-12-22T00:00:00Z,Minnesota,Minneapolis (Spring Lake Park),[],None,8407 Plaza Blvd NE,1,7,0,0,0
3691,1571348,2019-12-12T00:00:00Z,Missouri,Saint Louis (Moline Acres),[],None,9900 block of Lewis and Clark Blvd,1,3,0,0,1
3893,1434602,2019-06-28T00:00:00Z,Connecticut,Hamden,"[{""place_id"":11875514,""licence"":""Data © OpenSt...",None,937 Choate Ave,0,5,0,0,0
3974,1389220,2019-05-07T00:00:00Z,Colorado,Littleton (Highlands Ranch),[],None,8773 S Ridgeline Blvd,1,8,0,0,2
4196,1819955,2020-10-10T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,8800 block of Shannon Fox Cir,2,2,0,0,1
4734,2059440,2021-07-11T00:00:00Z,Texas,El Paso (Socorro),[],None,1300 Joe Battle Blvd,1,5,0,0,0
4770,2046574,2021-06-27T00:00:00Z,Illinois,Saint Charles,"[{""place_id"":318311835,""licence"":""Data © OpenS...",None,2051 Lincoln Hwy,1,3,0,0,0
4899,1998067,2021-05-07T00:00:00Z,Missouri,Saint Louis (Kinloch),[],None,5541 Mable Ave,2,3,0,1,2
4933,1980971,2021-04-17T00:00:00Z,Louisiana,La Place (Laplace),[],None,624 Golfview Dr,0,9,0,0,0

In [ ]:
def get_fips(row) -> str:
    """
    Retorna el valor de 'fips' per una fila de df1 basant-se en les columnes 'State' i 'county'.
    
    :param row: Una fila de df1 (que conté 'State' i 'county').
    :param pop: DataFrame que conté les columnes 'STNAME', 'CTYNAME' i 'FIPS'.
    :return: El valor de 'fips' corresponent.
    """
    # Comprovar si 'county' no és None abans d'aplicar strip()
    county_value = row['county']
    if county_value is not None:
        county_value = county_value.strip()  # eliminar espais blancs si no és None
    else:
        county_value = ""  # Si és None, assignar una cadena buida per evitar errors
    
    # Filtrar df2 per obtenir la fila amb la mateixa combinació de 'State' i 'county'
    fips_value = pop[(pop['STNAME'] == row['State']) & (pop['CTYNAME'] == county_value)]['FIPS']
    
    # Retornar el primer valor (ja que hauria de ser únic)
    return f'{fips_value.iloc[0]:02d}' if not fips_value.empty else None

In [160]:
ms['FIPS'] = ms.apply(get_fips, axis=1)

In [ ]:

len(ms[ms['State'].isin(pop['STNAME'].values)]) == len(ms)  #perfecte!

True

In [149]:
print(len(ms[ms['FIPS'].isnull()]))
ms[ms['FIPS'].isnull()]

35

,Incident ID,Incident Date,State,City Or County,json,county,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,FIPS
64,2988723,2024-08-06T00:00:00Z,West Virginia,Hedgesville (Cherry Run),[],None,Householder Rd,0,4,0,0,1,None
192,2934048,2024-06-07T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,2600 block of Shannon Ave,1,4,0,0,0,None
464,2747153,2023-11-04T00:00:00Z,Ohio,Cleveland (Richmond Heights),[],None,500 block of Towne Ln,1,3,0,0,1,None
566,2701233,2023-09-06T00:00:00Z,Texas,El Paso (Socorro),[],None,253 Flor Margarita Blvd,0,4,0,0,3,None
853,2592771,2023-05-06T00:00:00Z,Mississippi,Robinsonville (Tunica Resorts),[],None,2669 Kirby Rd,0,4,0,0,0,None
1019,2508683,2023-01-22T00:00:00Z,Mississippi,Robinsonville (Tunica Resorts),[],None,1010 Casino Center Dr,0,4,0,0,1,None
1030,2502550,2023-01-14T00:00:00Z,Missouri,Saint Louis (Moline Acres),[],None,Berwyn Dr and Lanier Dr,0,4,0,0,0,None
1252,2400998,2022-08-29T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,8800 block of Cozens Ave,0,4,0,0,0,None
1456,2320673,2022-06-04T00:00:00Z,Texas,El Paso (Socorro),[],None,10851 Thunder Rd,0,5,0,0,0,None
1772,2163772,2021-11-09T00:00:00Z,Louisiana,Hahnville (Killona),[],None,160 Killona Dr,1,4,0,0,1,None
1787,2155517,2021-10-31T00:00:00Z,Colorado,Littleton (Lakewood),[],None,6200 block of Alameda Ave,2,2,0,0,0,None
1831,2137321,2021-10-10T00:00:00Z,South Carolina,Mc Coll (Mccoll),[],None,4181 Hwy 15-401,2,3,0,0,5,None
2578,289146,2015-02-05T00:00:00Z,Ohio,Beachwood (Warrensville Heights),[],None,20009 Harvard Ave,3,3,0,0,1,None
2603,740447,2016-12-31T00:00:00Z,Georgia,Lenox (El Dorado),[],None,27 Briarwood Ct,2,2,0,0,0,None
2741,634238,2016-08-20T00:00:00Z,Connecticut,Hamden,"[{""place_id"":11875514,""licence"":""Data © OpenSt...",None,903 Dixwell Ave,0,4,0,0,1,None
2763,623195,2016-08-06T00:00:00Z,Pennsylvania,Reading (Sinking Spring),[],None,51 Winding Brook Drive,4,0,1,0,0,None
2897,548333,2016-04-26T00:00:00Z,Maryland,District Heights (Forestville),[],None,6500 block of Hil-Mar Drive,1,4,0,0,0,None
2986,1017372,2017-12-31T00:00:00Z,Colorado,Littleton (Highlands Ranch),[],None,3404 E County Line Rd,1,6,1,0,0,None
2997,1009629,2017-12-16T00:00:00Z,Mississippi,Mc Cool (Mccool),[],None,Ferguson Rd,0,4,0,0,1,None
3148,882665,2017-07-04T00:00:00Z,Florida,Orlando (Pine Castle),[],None,501 W Lancaster Rd,0,4,0,0,0,None
3303,764020,2017-01-30T00:00:00Z,Minnesota,Minneapolis (Crystal),[],None,5410 Lakeland Ave N,0,4,0,0,3,None
3365,1247019,2018-11-02T00:00:00Z,California,Long Beach (North Long Beach),[],None,5800 block of Brayton Ave,0,4,0,0,0,None
3394,1226179,2018-10-04T00:00:00Z,New Mexico,Espanola (Espa��ola),[],None,1813 N Riverside Dr,1,3,0,0,3,None
3486,1165214,2018-07-16T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,2100 block of W 28th St,2,4,0,0,0,None
3522,1149173,2018-06-24T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,1200 block of W 35th St,1,3,0,0,0,None
3634,1056240,2018-02-23T00:00:00Z,Florida,Palm Beach Gardens (Riviera Beach),[],None,W 23rd St,1,3,0,0,0,None
3682,1577688,2019-12-22T00:00:00Z,Minnesota,Minneapolis (Spring Lake Park),[],None,8407 Plaza Blvd NE,1,7,0,0,0,None
3691,1571348,2019-12-12T00:00:00Z,Missouri,Saint Louis (Moline Acres),[],None,9900 block of Lewis and Clark Blvd,1,3,0,0,1,None
3893,1434602,2019-06-28T00:00:00Z,Connecticut,Hamden,"[{""place_id"":11875514,""licence"":""Data © OpenSt...",None,937 Choate Ave,0,5,0,0,0,None
3974,1389220,2019-05-07T00:00:00Z,Colorado,Littleton (Highlands Ranch),[],None,8773 S Ridgeline Blvd,1,8,0,0,2,None
4196,1819955,2020-10-10T00:00:00Z,Missouri,Saint Louis (Jennings),[],None,8800 block of Shannon Fox Cir,2,2,0,0,1,None
4734,2059440,2021-07-11T00:00:00Z,Texas,El Paso (Socorro),[],None,1300 Joe Battle Blvd,1,5,0,0,0,None
4770,2046574,2021-06-27T00:00:00Z,Illinois,Saint Charles,"[{""place_id"":318311835,""licence"":""Data © OpenS...",None,2051 Lincoln Hwy,1,3,0,0,0,None
4899,1998067,2021-05-07T00:00:00Z,Missouri,Saint Louis (Kinloch),[],None,5541 Mable Ave,2,3,0,1,2,None
4933,1980971,2021-04-17T00:00:00Z,Louisiana,La Place (Laplace),[],None,624 Golfview Dr,0,9,0,0,0,None

In [154]:
# remove "null" rows...
ms = ms.dropna(subset=['FIPS'])
print(len(ms[ms['FIPS'].isnull()]))

0

In [155]:
ms.to_csv('datasets/MashShootingsComplete_FIPS.csv', index=False)

In [164]:
si = pd.read_csv('datasets/Schoolincidents-json.csv')

In [165]:
si['county'] = si.apply(extract_county, axis=1)

In [169]:
print(len(si[si['county'].isnull()]), len(si))

23 2000

In [183]:
si['FIPS'] = si.apply(get_fips, axis=1)
si['FIPS'] = si['FIPS'].apply(lambda x: f"{int(x):05d}" if pd.notnull(x) else x)

In [185]:
si.head()

,Incident ID,Incident Date,State,City Or County,Address,json,Business/Location Name,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,county,FIPS
0,3048245,"October 15, 2024",Maryland,Ellicott City,8700 Old Annapolis Rd,"[{""place_id"":323140107,""licence"":""Data © OpenS...",Howard High School,0,0,0,0,1,Howard County,24027
1,3048104,"October 15, 2024",Alabama,Huntsville,2304 Billie Watkins St SW,"[{""place_id"":314625651,""licence"":""Data © OpenS...",Huntsville High School,0,0,0,0,0,Madison County,01089
2,3048557,"October 15, 2024",Washington,Spokane,4106 N Cook St,"[{""place_id"":303721464,""licence"":""Data © OpenS...",Shaw Middle School,0,0,0,0,1,Spokane County,53063
3,3047242,"October 14, 2024",South Carolina,Mount Pleasant,1560 Mathis Ferry Rd,"[{""place_id"":317711154,""licence"":""Data © OpenS...",Lucy Beckham High School,0,0,0,0,1,Charleston County,45019
4,3048039,"October 14, 2024",Virginia,Colonial Heights,E River Rd,"[{""place_id"":318271216,""licence"":""Data © OpenS...",Virginia State University,0,0,0,0,0,Colonial Heights city,51570

In [186]:
si.to_csv('datasets/SchoolIncidents_FIPS.csv', index=False)